nz-carousel {
    height: 208px;
    margin:  0 24px;
}
nz-carousel div h3 {
    background-color: #ff3300;
    width: 550px;
    line-height: 40px;
    margin: 32px auto 8px;
    font-family: 'Lato Black', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}